@import "../sass/mixins.scss";

.main {
  padding: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: 4.5rem;
  font-weight: normal;
  margin-bottom: 3.5rem;
  align-self: center;
  letter-spacing: 1.5rem;
  padding: 4rem;
  border-bottom: 5px solid black;
}

.more {
  outline: none;
  padding: 2rem 4rem;
  font-size: 1.7rem;
  margin: 0 auto;
  align-self: center;
}
